<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yp.dao.ActivitySaleOrderMapper">



    <select id="staffSale" resultType="com.yp.entity.ActivitySaleOrder">
      select
      so.*
      from activity_sale_order so
      LEFT JOIN sys_user su on so.user_id=su.user_id
      <where>
        <if test="staffPageDTO.activityId != null and staffPageDTO.activityId != ''">
          AND so.activity_id=#{staffPageDTO.activityId}
        </if>
        <if test="staffPageDTO.userId != null and staffPageDTO.userId != ''">
          AND so.user_id=#{staffPageDTO.userId}
        </if>
        <if test="staffPageDTO.saleTime != null and staffPageDTO.saleTime != ''">
          and so.sale_time LIKE CONCAT('%',#{staffPageDTO.saleTime},'%')
        </if>
        <if test="staffPageDTO.approveStatus != null and staffPageDTO.approveStatus != ''">
          and so.approve_status =#{staffPageDTO.approveStatus}
        </if>
        <if test="staffPageDTO.trueName != null and staffPageDTO.trueName != ''">
          and su.true_name LIKE CONCAT('%',#{staffPageDTO.trueName},'%')
        </if>
<!--        <if test="staffPageDTO.productName != null and staffPageDTO.productName != ''">
          and ar.product_name LIKE CONCAT('%',#{staffPageDTO.productName},'%')
        </if>-->
      </where>
      ORDER BY so.sale_time DESC
    </select>
</mapper>
