<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yp.dao.ActivitySaleRecordMapper">

  <!--  <select id="getShopUserSale" resultType="com.yp.vo.ShopUserRecordsVO">
        SELECT user_id userId,COUNT(*) quantity,SUM(product_price) saleMoney FROM `activity_sale_record` where 1=1
        <if test="null != activityId and '' != activityId">
            AND activity_id=#{activityId}
        </if>
        <if test="null != shopCode and '' != shopCode">
            AND shop_code=#{shopCode}
        </if>
        <if test="null != approveStatus and '' != approveStatus">
            AND approve_status=#{approveStatus}
        </if>
        GROUP BY user_id;
    </select>-->

    <select id="staffSale" resultType="com.yp.entity.ActivitySaleRecord">
      select
      sr.*
      from activity_sale_record sr
      LEFT JOIN sys_user su on sr.user_id=su.user_id
      LEFT JOIN activity_reserve ar on sr.product_id=ar.pkid
      <where>
        <if test="staffPageDTO.activityId != null and staffPageDTO.activityId != ''">
          AND sr.activity_id=#{staffPageDTO.activityId}
        </if>
        <if test="staffPageDTO.userId != null and staffPageDTO.userId != ''">
          AND sr.user_id=#{staffPageDTO.userId}
        </if>
        <if test="staffPageDTO.saleTime != null and staffPageDTO.saleTime != ''">
          and sr.sale_time LIKE CONCAT('%',#{staffPageDTO.saleTime},'%')
        </if>
        <if test="staffPageDTO.approveStatus != null and staffPageDTO.approveStatus != ''">
          and sr.approve_status =#{staffPageDTO.approveStatus}
        </if>
        <if test="staffPageDTO.trueName != null and staffPageDTO.trueName != ''">
          and su.true_name LIKE CONCAT('%',#{staffPageDTO.trueName},'%')
        </if>
        <if test="staffPageDTO.productName != null and staffPageDTO.productName != ''">
          and ar.product_name LIKE CONCAT('%',#{staffPageDTO.productName},'%')
        </if>
      </where>
      ORDER BY sr.sale_time DESC
    </select>
</mapper>
